<form action="/login" method='post'>
  <div>
    {{#if error}}
    <p class="err-msg">Username or password is incorrect</p>
    {{/if}}
    <h1>Login</h1>
  </div>
  <div class="form-group">
    <p>For testing. username: <span>admin</span>, password: <span>1234</span></p>
    <label>Username:</label>
    <input type="text" id='username' name='username' placeholder='Enter your username' required />
  </div>
  <div class="form-group">
    <label>Password:</label>
    <input type="password" id='password' name='password' placeholder="Enter your password" required />
  </div>
  <div>
    <input type="submit" value="Login" />
  </div>
</form>